a {
  color: #003366;
}

body {
  background-color: white;
}

.jumbotron{
scroll-behavior: smooth;
 background-image:url(/static/images/landing.jpeg);
 background-attachment:fixed;
 background-repeat:no-repeat;
 background-position:center;
 background-size:cover;
 }
 


li {
  display: inline;
}

li a {
  padding: 20px;
}


.itson {
  background-color: white;
  height:auto;
}

#jumbo{
height:200px !important;
}

.w-33 {
    min-width: 33%;
}