<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="nbar">
    {% if user.is_authenticated %}
    <div class="container">
        <a class="navbar-brand" href="{% url 'homePage' %}"> <strong class="mr-4 brand"> Awwards</strong></a>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline" method="get" action="">
                        {% csrf_token %}
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search" name="title" aria-label="Search">
                        </div>
                    </form>
                </li>
            </ul>
            
            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="color:white; font-weight: bolder;"
                       aria-haspopup="true"
                       aria-expanded="false">{{ user.username|title }} 
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-center" href="{% url 'individual_profile_page' user.id %}"> profile</a>
                        <hr>
                        <a class="dropdown-item text-center" href="{%url 'edit_profile'%}"> Edit profile</a>
                        <hr>
                        <a href="/logout" class="text-secondary text-center dropdown-item">Log out</a>
                        


                    </div>
                </li>
                {% else %}
                <div class="item has-tablet" id="bt-submit"><a href="{% url 'login' %}" class="login btn btn-sm btn-info"> REGISTER/LOGIN </a></div>
                {% endif %}                
          
                {% if user.is_authenticated%}
                <div class="item has-tablet" id="bt-submit"><a href="{%url 'new_project'%}" class="submit btn btn-sm btn-info">SUBMIT</a></div>
                          
                {% endif %} 

            </ul>
        </div>
    </div>
    {% endif %}  
</nav>

