{%extends "registration/base.html"%} {% load bootstrap4 %} {% load static %} {% block content %}
<div class="jumbotron" style="background-color:#fff;">
	<div class="row p-0 m-0">
		<div class="col-md-6 mt-5">{% if form.errors %}
			<p>Password or Username is incorrect</p>{% endif %}</div>
		<div class="col-md-6  mt-5">{% if form.errors %}
			<p>Some Information Might be Incorrect</p>{% endif %}
			<div class="card border-primary mb-4" style="max-width:25rem;">
				<div class="card-body text-primary">
					<form action="/accounts/login/" method="post" style="font-family: 'Dosis', sans-serif; ">{% csrf_token %} {% bootstrap_form form%}
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-sm" value="Login">
						</div>
						<input type="hidden" name="next" value="{{next}}">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- ********************* -->
	<div class="row p-0 m-0">
		<div class="col-md-6">
			<div class="card mt-5" style="width: 28rem;">
				<div class="card-body text-center">
					<h5 class="card-title">Don't have an account?</h5>
					<h2 style="color:grey;font-size:10px;font-family: 'Dosis', sans-serif;">signing up</h2>
					<a href="/accounts/register" class="btn btn-primary" style="font-family: 'Dosis', sans-serif;">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
	<!-- ********************* -->
</div>
<br>
<br>
</div>
{% endblock %}